<html>
  <head>
    <title>The Robot Control Page</title>
    <script src='/assets/jquery-2.1.1.js'></script>
    <script src='/assets/jquery.websocket.js'></script>
    <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <!-- Optional theme -->
    <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css'>

    <!-- Latest compiled and minified JavaScript -->
    <script src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>
  </head>
  <body>
    <h1>Robot Control</h1>
    <label for='robot_id'>Robot ID:</label>
    <select name='robot_id' id='robot_id'>
      {{#registered_robots}}
      <option value='{{robot}}'>{{robot}}</option>
      {{/registered_robots}}
    </select>
    <p>Keyboard commands:</p>
    <ul>
      <li>[sS ] - Stop</li>
      <li>[fF] - Forward (repeat speeds up)</li>
      <li>[bB] - Backward (repeat speeds up)</li>
      <li>[rR] - Rotate Clockwise (repeat speeds up)</li>
      <li>[lL] - Rotate Counter-clockwise (repeat speeds up)</li>
      <li>[dD] - Slow down</li>
    </ul>

    <table>
      <colgroup>
        <col width='150px'/>
        <col width='150px'/>
        <col width='150px'/>
      </colgroup>
      <thead>
      </thead>
      <tbody>
        <tr style='height: 80px;'>
          <td align='center'><input type='button' id='slow_down' value='Slow Down'></td>
          <td align='center'><input type='button' id='forward' value='Forward'></td>
          <td align='center'><input type='button' id='speed_up' value='Speed Up'></td>
        </tr>
        <tr style='height: 80px;'>
          <td align='center'><input type='button' id='rotate_ccw' value='Rotate CCW'></td>
          <td align='center'><input type='button' id='stop' value='Stop'></td>
          <td align='center'><input type='button' id='rotate_cw' value='Rotate CW'></td>
        </tr>
        <tr/>
        <tr style='height: 80px;'>
          <td align='center'></td>
          <td align='center'><input type='button' id='backward' value='Backward'></td>
          <td align='center'></td>
        </tr>
        <tr/>
      </tbody>
    </table>
    <input type='hidden' name='currentCommand' id='currentCommand' value=''>

    <div>
      <p>The command:</p>
      <div id='theCommand' />
    </div>
    <div>
      <p>The result of the call:</p>
      <div id='div_result' />
    </div>
    <div>
      <p>The interation with the websocket.</p>
      <div id='output'></div>
    </div>
    <script src='/assets/robot_control.js'></script>
    <hr>
    <p align="right">Version: {{app_version}}</p>
  </body>
</html>
