*.swp
*.beam
log
extract
rel/telep
rel1
*.boot
*.script
*.tar.gz
node_modules
.erlang
rebar
apps/telep/ebin
group.lst
user.lst

# Ignore any generated keys
*.pem
*.crt
*.csr
*.key

# Ignore erlang unit test build directory
.eunit
