{ sys, [
         { lib_dirs, [ "/home/dsieh/Projects/", 
		       "/home/dsieh/ThirdParty/" ] },
	 { rel, "telep", "0.1.0", [ kernel,
                                    stdlib,
				    { ranch, permanent },
				    { bson, permanent },
				    { mongodb, permanent },
                                    { beanstalk, permanent } ] },
         { boot_rel, "telep" },
	{ app, telep, [ { vsn, "0.1.0" } ] }
]}.
